# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Compiled binary addons
build/Release

# Dependencies
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Tool caches
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Keep the configuration template in Git
!.env.example

# Build and framework output
.next
out
.nuxt
dist
.cache
.parcel-cache
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/

# TernJS
.tern-port

# VS Code test versions
.vscode-test